header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    color: black;
    background-color: white;

    width: 100vw;
}

#title {
    margin-left: 2vw;
    font-weight: 100;
    
    /* color: #113662; */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar {
    font-size: 1.2em;
    font-weight: 100;

    display: flex;

    margin-left: 5px;
    margin-right: 3vw;
    padding: 20px;
    text-align: center;

    border-radius: 10px;

    color: black;

    /* transition: all .3s ease-in-out; */
}

body {
    /* background-color: lightblue; */
    /* font-family: orpheus-pro; */
}

.coverphoto {
    width: 100vw;
    height: 85vh;
    object-fit: cover;

    padding: 0px;
}

.centeredTitle {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 5em;

    font-weight: 150;
}

.centeredDescription {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    font-size: 1.3em;
}

/* ------------------------------------------- */
/* ------------- CONTACT SECTION ------------- */
/* ------------------------------------------- */

footer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.contactimg {
    display: inline;
    margin-left: auto;
    margin-right: auto;

    max-width:50px;
    max-height: 50px;

    transition: all .3s ease-in-out; 
}

.contactimg:hover {
    transform: scale(1.1);
}

.contact {
    margin-right: 1em;
    margin-left: 1em;
}